*
{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:  Alef;
}
/*Start header*/

.btn-danger.dropdown-toggle {
    
    background-color: #d00d0d!important;
}
.menu-area
{
    position: static;
}
.mega-area
{
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    padding: 15px;
}
.btn-danger.dropdown-toggle .fas
{
    color: white;
    font-size: 20px;
}
.about
{
    border-right: 1px solid #777;
}
.about ul
{
    text-transform: uppercase;
  list-style: none;
}
.about ul li 
{
    color: #444444;
    font-size: 16px;
    font-weight: 600;
    border: none!important;
    padding-bottom: 5px;
}
.about .active li
{
    color: #d00d0d!important;
    font-weight: 700;
    font-size: 20px;
}
.about p
{
   color: #777777;
    font-size: 14px;
}
.products
{
      border-right: 1px solid #777;
    overflow: auto;
}
.products ul
{
    list-style: none;
}

.products ul li
{
    border-bottom: 1px solid #777;
     padding-bottom: 18px;
}
.products ul li a
{
    color: #444444;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.products ul li a:hover
{
    color: #d00d0d;
}
.fas
{
    float: right;
    color: #d00d0d;
    font-size: 20px;
    transition:all 0.5s;
}
.fas:hover
{
    transform:scaleX(1.1);
}
.info
{
    border-right: 1px solid #777;
}
.info h5
{
    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
}
.info p
{
    color: #777777;
}
.info select
{
    border: none;
    border-bottom: 1px solid #444;
}
.btn2
{
    border-radius: 4px;
    padding: 2px 18px;
    background-color: #d00d0d;
    color: white;
}
.btn2:hover 
{
    background-color: #fff;
    color: #d00d0d;
}
.info ul  
{
    list-style: none;
}
.fab
{
    float: right;
    color: #d00d0d;
    font-size: 20px;
    transition:all 0.5s;
}
.fab:hover
{
    transform:scaleX(1.1);
}

.follow ul
{
    
    list-style: none;
}
.follow ul li
{
    padding-bottom: 8px;
}
.contact
{
    position: relative;
    overflow: auto; 
}
.btn1
{
     background-color: #d00d0d;
    color: white;
    transition: all 1s ease-in-out;
    padding: 8px 15px;
    float: right;
    box-shadow: none!important;
    shape-outside: none!important;
    justify-content: right;
}
.btn1:hover
{
    background-color: white;
    color: #d00d0d;
}
.language_sep
{
    border: 1px solid #888;
}
.language a
{
    color: #444;
}
/* Form Style */
.title h1
{
    font-size: 30px;
    color: #444;
    
}
.title h2
{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    color: #444;
}
.title p
{
    font-size: 15px;
    font-weight: 500;
    color: #777;
}
.form-control
{
    border:none;
    border-bottom: 1px solid #d00d0d;
}
#textarea
{
    border:none;
    border-bottom: 1px solid #d00d0d;  
}
.alert
{
    display: none;
}
.btn
{
    background-color: #d00d0d;
    color: white;
    transition: all 1s ease-in-out;
    padding: 8px 20px;
}
.btn:hover
{
    background-color: white;
    color: #d00d0d;
}
/* End Form^/